
target/
dbt_packages/
logs/
.DS_Store
.ipynb_checkpoints/dowload_trip_data-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
data/Download fhv data/fhv_tripdata_2019-01.csv
data/Download fhv data/fhv_tripdata_2019-02.csv
data/Download fhv data/fhv_tripdata_2019-03.csv
data/Download fhv data/fhv_tripdata_2019-04.csv
data/Download fhv data/fhv_tripdata_2019-05.csv
data/Download fhv data/fhv_tripdata_2019-06.csv
data/Download fhv data/fhv_tripdata_2019-07.csv
data/Download fhv data/fhv_tripdata_2019-08.csv
data/Download fhv data/fhv_tripdata_2019-09.csv
data/Download fhv data/fhv_tripdata_2019-10.csv
data/Download fhv data/fhv_tripdata_2019-11.csv
data/Download fhv data/fhv_tripdata_2019-12.csv
data/Download green data/green_tripdata_2019-01.csv
data/Download green data/green_tripdata_2019-02.csv
data/Download green data/green_tripdata_2019-03.csv
data/Download green data/green_tripdata_2019-04.csv
data/Download green data/green_tripdata_2019-05.csv
data/Download green data/green_tripdata_2019-06.csv
data/Download green data/green_tripdata_2019-07.csv
data/Download green data/green_tripdata_2019-08.csv
data/Download green data/green_tripdata_2019-09.csv
data/Download green data/green_tripdata_2019-10.csv
data/Download green data/green_tripdata_2019-11.csv
data/Download green data/green_tripdata_2019-12.csv
data/Download green data/green_tripdata_2020-01.csv
data/Download green data/green_tripdata_2020-02.csv
data/Download green data/green_tripdata_2020-03.csv
data/Download green data/green_tripdata_2020-04.csv
data/Download green data/green_tripdata_2020-05.csv
data/Download green data/green_tripdata_2020-06.csv
data/Download green data/green_tripdata_2020-07.csv
data/Download green data/green_tripdata_2020-08.csv
data/Download green data/green_tripdata_2020-09.csv
data/Download green data/green_tripdata_2020-10.csv
data/Download green data/green_tripdata_2020-11.csv
data/Download green data/green_tripdata_2020-12.csv
data/Download yellow data/yellow_tripdata_2019-01.csv
data/Download yellow data/yellow_tripdata_2019-02.csv
data/Download yellow data/yellow_tripdata_2019-03.csv
data/Download yellow data/yellow_tripdata_2019-04.csv
data/Download yellow data/yellow_tripdata_2019-05.csv
data/Download yellow data/yellow_tripdata_2019-06.csv
data/Download yellow data/yellow_tripdata_2019-07.csv
data/Download yellow data/yellow_tripdata_2019-08.csv
data/Download yellow data/yellow_tripdata_2019-09.csv
data/Download yellow data/yellow_tripdata_2019-10.csv
data/Download yellow data/yellow_tripdata_2019-11.csv
data/Download yellow data/yellow_tripdata_2019-12.csv
data/Download yellow data/yellow_tripdata_2020-01.csv
data/Download yellow data/yellow_tripdata_2020-02.csv
data/Download yellow data/yellow_tripdata_2020-03.csv
data/Download yellow data/yellow_tripdata_2020-04.csv
data/Download yellow data/yellow_tripdata_2020-05.csv
data/Download yellow data/yellow_tripdata_2020-06.csv
data/Download yellow data/yellow_tripdata_2020-07.csv
data/Download yellow data/yellow_tripdata_2020-08.csv
data/Download yellow data/yellow_tripdata_2020-09.csv
data/Download yellow data/yellow_tripdata_2020-10.csv
data/Download yellow data/yellow_tripdata_2020-11.csv
data/Download yellow data/yellow_tripdata_2020-12.csv
